button {
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    height: 46px;
    width: 150px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
}

.button-blue {
    background-color: #33A0FF;
    border: #33A0FF;
}

.button-blue:hover {
    background-color: #2E90E5;
    border: #2E90E5;
}

.button-bluewhite {
    background-color: white;
    border: solid #33A0FF 2px;
    color: #33A0FF;
}

.button-bluefade {
    color: #33A0FF;
    background-color: rgba(51,160,255,.1);
    border: none;
}

.button-large {
    width: 171px;
    height: 60px;
}

.button-danger {
    background-color: #FF4252;
    border: #FF4252;
}

.button-danger:hover {
    background-color: #FF4252;
    border: #FF4252;
}

.button-dangerwhite {
    background-color: white;
    border: solid #FF4252 2px;
    color: #FF4252;
}

.button-dangerfade {
    color: #FF4252;
    background-color: rgba(255,66,82,.1);
    border: none;
}

.button-success {
    background-color: #0AD00A;
    border: #0AD00A;
}

.button-success:hover {
    background-color: #07C107;
    border: #07C107;
}

.button-successwhite {
    background-color: white;
    border: solid #0AD00A 2px;
    color: #0AD00A;
}

.button-successfade {
    color: #0AD00A;
    background-color: rgba(10,208,10,.1);
    border: none;
}

.button-warning {
    background-color: #FFC600;
    border: #FFC600;
}

.button-warning:hover {
    background-color: #EBB600;
    border: #EBB600;
}

.button-warningwhite {
    background-color: white;
    border: solid #FFC600 2px;
    color: #FFC600;
}

.button-warningfade {
    color: #FFC600;
    background-color: rgba(255,198,0,.1);
    border: none;
}

.button-default {
    background-color: #22262A;
    border: #22262A;
}

.button-default:hover {
    background-color: #13161A;
    border: #13161A;
}

.button-defaultwhite {
    background-color: white;
    border: solid #22262A 2px;
    color: #22262A;
}

.button-defaultfade {
    color: #22262A;
    background-color: rgba(34,38,42,.1);
    border: none;
}

.button-bluevoucher {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #33A0FF;
    border: #33A0FF;
}

.button-bluevoucherlarge {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #33A0FF;
    border: #33A0FF;
    height: 60px;
}